body{
    box-sizing: border-box;
    margin:0;
    inset: 0;
    background-color: black;
}
#navbar{
    display: flex;
    height:100px;
    background-color: #36454F;
    margin:5px 5px 0px 5px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
#logo{
    font-family: 'Pacifico';
    color: #ffffff;
    font-size: 40px;
}
#mainContainer{
    background-color: transparent;
    width: 100%-20px;
    display: flex;
    flex-direction: row;
    height: 500px;
    offset: 0;
    padding: 5px;
}
#graph{
    width: 80%;
    border: 5px solid #6F8FAF;
    margin: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: antiquewhite;
}
#leftNav{
    display: flex;
    width: 20%;
    border-radius: 5px;
    background-color: #6F8FAF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuButton{
    width: 90%;
    margin: 5px;
    height: 50px;
    font-family: 'Josefin Sans';
    font-size: 25px;
    border-radius: 15px;
    border: 3px solid #0a2b4c;
}
.menuButton:hover{
    box-shadow: 2px 4px 4px #36454F;
    cursor: pointer;
}
#dndmenu{
    width: 20%;
    border-radius: 5px;
    background-color: #6F8FAF;
}
.draggy{
    margin: 5px;
    width:90%;
    height: 50px;
    font-family: 'Josefin Sans';
    font-size: 25px;
    border-radius: 15px;
    border: 3px solid #6F8FAF;
    background-color: #ffffff;
}
.draggy:hover{
    box-shadow: 2px 4px 4px #36454F;
    cursor: pointer;
}
#bottombar{
    height: 100px;
    background-color: #36454F;
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropInput{
    margin: 15px;
    width: 25%;
    height: 25px;
    border: solid 2px black;
    background-color: antiquewhite;
    border-radius: 5px;
}
.hide{
    display: none;
}
.drag-over {
    border: solid 3px rgb(60, 27, 60);
    background-color: rgb(244, 165, 61);
}
.inputClosed{
    border: solid 2 px gray;
    background-color: darkgray;
}

#canvas{
    width: 95%;
    height: 500px;
    background-color: antiquewhite;
    margin: 2.5%;
    border: solid 5px darkgrey ;
    border-radius: 15px;
    overflow: scroll;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menuitem{
    padding: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    border: solid 4px gray;
    border-radius: 5px;
    margin: 5px;
    background-color: bisque;
}
.menuitem:hover{
    cursor: pointer;
}